div{ 
    height: 500px;
    color: crimson;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 20px;

}
p{
    color: rgb(187, 169, 233);
}