body {
  font-family: 'Segoe UI', sans-serif;
  scroll-behavior: smooth;
}

.hero {
  background: linear-gradient(to right, #0d6efd, #6610f2);
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
}

.section-title {
  font-weight: bold;
}

.card:hover {
  transform: translateY(-5px);
  transition: 0.3s;
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

footer {
  background: #212529;
}
